.webWrapper {
    width: 100%;
    background: #eaeaea;
    .web {
        width: 920px;
        margin: 0 auto;
        .web__title {
            margin: 40px 0 52px 22px;
            font-size: 30px;
        }
    }
}
