.dirDetWrapper{
    width: 100%;
    background-color: #EAEAEA;
    .dirDet{
        width:920px;
        margin: 0 auto;
        h1{
            font-size: 20px;
            color: #505961;
            margin: 40px 0;
        }
        .dirContent{
            overflow: hidden;
        }
    }
}